html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1260px;
  min-width: 300px;
  width: 80%;
  margin: 0 auto;
}

.content-container {
  width: 90%;
  margin: 0 auto;
}

button {
  font-family: "Josefin Sans", sans-serif;
  background-color: #0e902d;
  color: #F0EFED;
  border: none;
  padding: 10px 20px;
}

html {
  font-size: 6.25%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20rem;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 166rem;
  line-height: initial;
}

h2, h3, h4, h5, h6, blockquote {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 80px;
  line-height: 92px;
}

h3 {
  font-size: 56.3px;
  line-height: initial;
  letter-spacing: 1.3px;
  text-align: center;
}

h4 {
  font-size: 43px;
  letter-spacing: 1.3px;
}

h5 {
  font-size: 42px;
  letter-spacing: 1px;
}

h6 {
  font-size: 32px;
}

.header-nav {
  color: #F0EFED;
  position: absolute;
  top: 10px;
  width: 100%;
}

nav ul {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav li {
  padding: 5px 20px;
}

nav a {
  color: #F0EFED;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  -webkit-text-decoration: underline rgba(240, 239, 237, 0);
          text-decoration: underline rgba(240, 239, 237, 0);
  -webkit-transition: color 0.5s ease, -webkit-text-decoration 0.75s ease;
  transition: color 0.5s ease, -webkit-text-decoration 0.75s ease;
  transition: text-decoration 0.75s ease, color 0.5s ease;
  transition: text-decoration 0.75s ease, color 0.5s ease, -webkit-text-decoration 0.75s ease;
}

nav a:hover, nav a:focus {
  cursor: pointer;
  text-decoration: underline;
}

nav a:active {
  color: #F8E71C;
}

body {
  background-color: #F0EFED;
  color: #2c2c2c;
}

ul {
  list-style: none;
}

.header-image {
  width: 100%;
  overflow: hidden;
}

.home-image {
  height: 525px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-image img {
  position: relative;
  height: 525px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.black-banner {
  padding: 10px 0 10px 0;
  background-color: #000;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title-white {
  font-size: 60rem;
  position: absolute;
  top: 260px;
  z-index: 2;
}

.title-yellow {
  font-size: 60rem;
  position: absolute;
  top: 320px;
  z-index: 2;
  color: #F8E71C;
}

.header-box {
  position: absolute;
  top: 260px;
  right: 0;
  max-height: 280px;
}

.about {
  text-align: center;
}

main img {
  width: 100%;
  margin: 20px 0;
}

.left-flowers {
  width: 65%;
  -webkit-box-shadow: 10px 10px #f8e71c;
          box-shadow: 10px 10px #f8e71c;
}

.right-flowers {
  width: 65%;
  -webkit-box-shadow: -10px 10px #f8e71c;
          box-shadow: -10px 10px #f8e71c;
}

.right-flowers-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h6 {
  margin: 30px 0 30px 10px;
}

.options-icon-green-houses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.options-icon-community {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.options-icon-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.options-icon-get-in-touch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.icon-background {
  padding: 10px;
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F8E71C;
  border-radius: 50%;
}

.window-image {
  width: 100%;
  margin: 30px 0;
}

.founder {
  width: 227px;
  margin-left: 10%;
  -webkit-box-shadow: 10px 10px #f8e71c;
          box-shadow: 10px 10px #f8e71c;
}

.founder-section button {
  width: 100%;
}

.bottom-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottom-gallery ul {
  padding-left: 0;
}

.bottom-gallery img {
  width: 290px;
}

footer p {
  text-align: center;
}

.blog-image {
  margin: -20px 0 0 -50px;
  -o-object-fit: cover;
     object-fit: cover;
}

header h2 {
  color: #F8E71C;
}

main h6 {
  margin: 0;
}

.comments h6 {
  margin-left: 0;
}

.comment-header {
  margin: 0;
}

aside {
  margin-left: 10px;
  margin-top: 20px;
  max-width: 300px;
}

aside .aside-white-box {
  position: absolute;
  z-index: -1;
  top: 520px;
  width: 305px;
  height: 640px;
  background-color: #fff;
}

aside p {
  margin: 0;
  line-height: 30px;
  font-size: 16rem;
}

aside a {
  text-decoration: none;
  color: #2c2c2c;
}

.find-out-more-a {
  font-weight: 700;
  font-style: italic;
  color: #074115;
}

.content-container h6 {
  font-size: 20rem;
  margin: 10px 0;
}

.content-container ul {
  margin-left: -20px;
}

aside img {
  margin-left: -10px;
  margin-top: -20px;
  max-width: 300px;
}

main h6 span {
  font-weight: 700;
}

@media (min-width: 480px) {
  body {
    background-color: blue;
  }
}
@media (min-width: 768px) {
  body {
    background-color: green;
  }
}
@media (min-width: 1024px) {
  body {
    background-color: purple;
  }
}
@media (min-width: 1280px) {
  body {
    background-color: orange;
  }
}