html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1260px;
  min-width: 280px;
  width: 80%;
  margin: 0 auto;
}

.content-container {
  width: 90%;
  margin: 0 auto;
}

button {
  font-family: "Josefin Sans", sans-serif;
  background-color: #0e902d;
  color: #F0EFED;
  border: none;
  padding: 10px 20px;
}

html {
  font-size: 6.25%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20rem;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 166rem;
  line-height: initial;
}

h2, h3, h4, h5, h6, blockquote {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 80px;
  line-height: 92px;
}

h3 {
  font-size: 56.3px;
  line-height: initial;
  letter-spacing: 1.3px;
  text-align: center;
}

h4 {
  font-size: 43px;
  letter-spacing: 1.3px;
}

h5 {
  font-size: 42px;
  letter-spacing: 1px;
}

h6 {
  font-size: 32px;
}

.header-nav {
  color: #F0EFED;
  position: absolute;
  top: 10px;
  width: 100%;
}

nav ul {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav li {
  padding: 5px 20px;
}

nav a {
  color: #F0EFED;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  -webkit-text-decoration: underline rgba(240, 239, 237, 0);
          text-decoration: underline rgba(240, 239, 237, 0);
  -webkit-transition: color 0.5s ease, -webkit-text-decoration 0.75s ease;
  transition: color 0.5s ease, -webkit-text-decoration 0.75s ease;
  transition: text-decoration 0.75s ease, color 0.5s ease;
  transition: text-decoration 0.75s ease, color 0.5s ease, -webkit-text-decoration 0.75s ease;
}

nav a:hover, nav a:focus {
  cursor: pointer;
  text-decoration: underline;
}

nav a:active {
  color: #F8E71C;
}

footer {
  width: 100%;
  padding: 1px 0;
  background-color: #161616;
}

footer p {
  text-align: center;
  color: white;
  margin: 0;
}

body {
  background-color: #F0EFED;
  color: #2c2c2c;
  overflow-x: hidden;
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

ul {
  list-style: none;
}

.header-image {
  height: 525px;
  overflow: hidden;
}

.home-image {
  min-height: 525px;
}

.black-banner {
  padding: 10px 0 10px 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title-white {
  font-size: 60rem;
  position: absolute;
  top: 260px;
  z-index: 2;
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

.title-yellow {
  font-size: 60rem;
  position: absolute;
  top: 320px;
  z-index: 2;
  color: #F8E71C;
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

.header-box {
  position: absolute;
  top: 260px;
  right: 0;
  max-height: 280px;
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

.about {
  text-align: center;
  margin-top: 180px;
  margin-bottom: 180px;
}

main {
  background-color: white;
}

main img {
  width: 100%;
  margin: 20px 0;
}

.left-content-container h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 20rem;
}

.right-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-content-container {
  max-width: 300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 300px;
  margin: 0 auto;
}

.right-content-container h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 20rem;
}

.right-content-container button {
  margin-bottom: 30px;
}

.left-flowers {
  width: 80%;
  max-width: 826px;
  -webkit-box-shadow: 15px 15px #f8e71c;
          box-shadow: 15px 15px #f8e71c;
  margin-top: -15px;
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

.right-flowers {
  width: 80%;
  max-width: 826px;
  -webkit-box-shadow: -15px 15px #f8e71c;
          box-shadow: -15px 15px #f8e71c;
  margin-top: 15px;
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

.right-flowers-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

h6 {
  margin: 30px 0 30px 10px;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.options-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 475px;
  padding: 0 30px;
  margin-left: 45px;
}

.options-icon-green-houses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -55px;
}

.options-icon-community {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -55px;
}

.options-icon-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -55px;
}

.options-icon-get-in-touch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -55px;
}

.icon-background {
  padding: 10px;
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F8E71C;
  border-radius: 50%;
}

.window-image-container {
  width: 105%;
}

.window-image {
  width: 102%;
  margin: 30px 0 30px -20px;
}

.founder-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.founder-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px 0 50px;
}

.founder {
  width: 227px;
  -webkit-box-shadow: 10px 10px #f8e71c;
          box-shadow: 10px 10px #f8e71c;
}

.founder-content h5 {
  margin: 30px 0 20px 0;
}

.founder-section button {
  margin-bottom: 50px;
}

.bottom-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

.bottom-gallery ul {
  padding-left: 0;
}

.bottom-gallery img {
  width: 290px;
}

.blog-image {
  margin: -20px 0 0 -50px;
  -o-object-fit: cover;
     object-fit: cover;
}

header h2 {
  color: #F8E71C;
}

main h6 {
  margin: 0;
}

.comments h6 {
  margin-left: 0;
}

.blog-aside-image-container {
  width: 100%;
  margin-left: -450px;
}

.blog-aside-image {
  position: relative;
  z-index: 1;
}

.blog-aside-content-container {
  position: relative;
  max-width: 280px;
}

.blog-aside-content-container h6 {
  margin-left: 0;
}

.aside-blog-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 100px;
  margin-top: 20px;
  max-width: 300px;
}

.aside-white-box {
  position: absolute;
  top: 560px;
  width: 310px;
  height: 1055px;
  background-color: #fff;
}

aside p {
  margin: 0;
  line-height: 30px;
  font-size: 16rem;
}

aside a {
  text-decoration: none;
  color: #2c2c2c;
}

.find-out-more-a {
  font-weight: 700;
  font-style: italic;
  color: #074115;
}

.content-container h6 {
  font-size: 20rem;
  margin: 10px 0;
}

.blog-main {
  background-color: #F0EFED;
  position: relative;
  z-index: 1;
}

.post-image-yellow-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.post-image {
  max-width: 90%;
  -webkit-box-shadow: -20px 20px #F8E71C;
          box-shadow: -20px 20px #F8E71C;
}

.blog-main h3 {
  margin: 0;
}

main div h6 {
  font-weight: 400;
  font-style: italic;
  color: #074115;
}

.post-date {
  color: #074115;
  font-weight: 700;
}

.post {
  -webkit-box-shadow: -10px 0px 0 10px #F8E71C;
          box-shadow: -10px 0px 0 10px #F8E71C;
  padding: 40px 0 20px 20px;
}

.comment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#name {
  background-color: #F0EFED;
  width: 48%;
  padding: 10px;
  border: none;
  border-bottom: 2px #0e902d solid;
}

#name::-webkit-input-placeholder {
  color: black;
  opacity: 1;
  font-family: "Josefin Sans", "sans-serif";
  font-weight: 300;
}

#name::-moz-placeholder {
  color: black;
  opacity: 1;
  font-family: "Josefin Sans", "sans-serif";
  font-weight: 300;
}

#name:-ms-input-placeholder {
  color: black;
  opacity: 1;
  font-family: "Josefin Sans", "sans-serif";
  font-weight: 300;
}

#name::-ms-input-placeholder {
  color: black;
  opacity: 1;
  font-family: "Josefin Sans", "sans-serif";
  font-weight: 300;
}

#name::placeholder {
  color: black;
  opacity: 1;
  font-family: "Josefin Sans", "sans-serif";
  font-weight: 300;
}

#email {
  background-color: #F0EFED;
  width: 48%;
  padding: 10px;
  border: none;
  border-bottom: 2px #0e902d solid;
}

#email::-webkit-input-placeholder {
  color: black;
  opacity: 1;
  font-family: "Josefin Sans", "sans-serif";
  font-weight: 300;
}

#email::-moz-placeholder {
  color: black;
  opacity: 1;
  font-family: "Josefin Sans", "sans-serif";
  font-weight: 300;
}

#email:-ms-input-placeholder {
  color: black;
  opacity: 1;
  font-family: "Josefin Sans", "sans-serif";
  font-weight: 300;
}

#email::-ms-input-placeholder {
  color: black;
  opacity: 1;
  font-family: "Josefin Sans", "sans-serif";
  font-weight: 300;
}

#email::placeholder {
  color: black;
  opacity: 1;
  font-family: "Josefin Sans", "sans-serif";
  font-weight: 300;
}

#comment {
  background-color: #F0EFED;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 2px #0e902d solid;
}

#comment::-webkit-input-placeholder {
  color: black;
  opacity: 1;
  font-family: "Josefin Sans", "sans-serif";
  font-weight: 300;
}

#comment::-moz-placeholder {
  color: black;
  opacity: 1;
  font-family: "Josefin Sans", "sans-serif";
  font-weight: 300;
}

#comment:-ms-input-placeholder {
  color: black;
  opacity: 1;
  font-family: "Josefin Sans", "sans-serif";
  font-weight: 300;
}

#comment::-ms-input-placeholder {
  color: black;
  opacity: 1;
  font-family: "Josefin Sans", "sans-serif";
  font-weight: 300;
}

#comment::placeholder {
  color: black;
  opacity: 1;
  font-family: "Josefin Sans", "sans-serif";
  font-weight: 300;
}

.comment-form button {
  width: 100%;
  margin-bottom: 10px;
}

.contact-header {
  margin: 0;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 0 0 -10px;
}

.social-icons a {
  color: #0e902d;
  margin: 20px 10px 0 10px;
}

.contact-form {
  background-color: #fff;
  padding: 20px 0;
  -webkit-box-shadow: -10px 10px #F8E71C;
          box-shadow: -10px 10px #F8E71C;
}

#contact-name {
  width: 48%;
  padding: 10px;
  border: none;
  border-bottom: 2px #0e902d solid;
}

#contact-name::-webkit-input-placeholder {
  color: black;
  opacity: 1;
  font-family: "Josefin Sans", "sans-serif";
  font-weight: 300;
}

#contact-name::-moz-placeholder {
  color: black;
  opacity: 1;
  font-family: "Josefin Sans", "sans-serif";
  font-weight: 300;
}

#contact-name:-ms-input-placeholder {
  color: black;
  opacity: 1;
  font-family: "Josefin Sans", "sans-serif";
  font-weight: 300;
}

#contact-name::-ms-input-placeholder {
  color: black;
  opacity: 1;
  font-family: "Josefin Sans", "sans-serif";
  font-weight: 300;
}

#contact-name::placeholder {
  color: black;
  opacity: 1;
  font-family: "Josefin Sans", "sans-serif";
  font-weight: 300;
}

#contact-email {
  width: 48%;
  padding: 10px;
  border: none;
  border-bottom: 2px #0e902d solid;
}

#contact-email::-webkit-input-placeholder {
  color: black;
  opacity: 1;
  font-family: "Josefin Sans", "sans-serif";
  font-weight: 300;
}

#contact-email::-moz-placeholder {
  color: black;
  opacity: 1;
  font-family: "Josefin Sans", "sans-serif";
  font-weight: 300;
}

#contact-email:-ms-input-placeholder {
  color: black;
  opacity: 1;
  font-family: "Josefin Sans", "sans-serif";
  font-weight: 300;
}

#contact-email::-ms-input-placeholder {
  color: black;
  opacity: 1;
  font-family: "Josefin Sans", "sans-serif";
  font-weight: 300;
}

#contact-email::placeholder {
  color: black;
  opacity: 1;
  font-family: "Josefin Sans", "sans-serif";
  font-weight: 300;
}

#contact-message {
  width: 100%;
  height: 100%;
  margin: 10px;
  padding: 10px;
  border: 2px #0e902d solid;
}

#contact-message::-webkit-input-placeholder {
  color: black;
  opacity: 1;
  font-family: "Josefin Sans", "sans-serif";
  font-weight: 300;
}

#contact-message::-moz-placeholder {
  color: black;
  opacity: 1;
  font-family: "Josefin Sans", "sans-serif";
  font-weight: 300;
}

#contact-message:-ms-input-placeholder {
  color: black;
  opacity: 1;
  font-family: "Josefin Sans", "sans-serif";
  font-weight: 300;
}

#contact-message::-ms-input-placeholder {
  color: black;
  opacity: 1;
  font-family: "Josefin Sans", "sans-serif";
  font-weight: 300;
}

#contact-message::placeholder {
  color: black;
  opacity: 1;
  font-family: "Josefin Sans", "sans-serif";
  font-weight: 300;
}

.contact-form button {
  width: 100%;
}

@media (max-width: 390px) {
  .post-image {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .post {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
@media (min-width: 480px) {
  .header-box {
    max-height: initial;
    max-height: 360px;
    top: 200px;
  }

  main {
    max-height: 750px;
    margin-bottom: 100px;
    -webkit-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
  }

  .left-flowers {
    width: 45%;
  }

  .right-flowers {
    width: 45%;
    position: relative;
    top: 20px;
  }

  .right-main-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    position: relative;
    top: -380px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .right-main-container p {
    padding-right: 50px;
  }

  .left-main-container p {
    padding-left: 50px;
  }

  .left-content-container {
    max-width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: right;
    margin: initial;
  }

  .right-content-container {
    max-width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: initial;
  }

  .blog-aside-image-container {
    margin-left: -450px;
  }

  .aside-white-box {
    height: 950px;
  }

  .aside-blog-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 225px;
    margin-top: 20px;
    max-width: 300px;
  }

  .comments {
    position: relative;
    top: 500px;
  }

  .comment-form {
    position: relative;
    top: 500px;
  }

  .blog-footer {
    position: relative;
    top: 500px;
  }

  .contact-form {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    top: -10px;
    left: 30%;
  }

  .black-banner {
    position: relative;
    top: -10px;
    padding: 10px 0 10px 0;
    background-color: black;
  }

  main {
    max-height: 650px;
    margin-bottom: 100px;
  }

  .upper-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .lower-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .options-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 500px;
  }

  .founder-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .founder-content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 1000px;
  }

  .founder {
    margin-left: 100px;
  }

  .founder-content h5 {
    margin: 30px 0 20px 0;
  }

  .bottom-gallery ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .bottom-gallery li {
    margin: 40px 15px 40px 15px;
  }

  .bottom-gallery img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    max-width: 290px;
  }

  .blog-h2 {
    position: relative;
    top: 150px;
    left: 100px;
  }

  .blog-footer {
    position: relative;
    top: 500px;
  }

  .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .contact-form {
    position: relative;
    top: -100px;
    width: 70%;
    margin-bottom: 20px;
  }

  #contact-message {
    width: 100%;
    height: 43vh;
  }

  .contact-h2 {
    width: 300px;
    position: relative;
    top: 100px;
    left: 50px;
  }

  .contact-info-container {
    position: relative;
    top: 100px;
  }

  .contact-footer {
    position: relative;
    top: 75px;
  }
}
@media (min-width: 936px) {
  .blog-aside-image-container {
    margin-left: -475px;
  }

  .blog-aside-content-container {
    width: 270px;
    margin-left: 20px;
  }

  .blog-aside-content-container h6 {
    margin-left: 0;
  }

  .aside-white-box {
    top: 40px;
    width: 280px;
    margin-left: 20px;
  }

  .blog-content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }

  .blog-main {
    background-color: rgba(255, 255, 255, 0);
    margin-top: -100px;
    margin-left: 30px;
    max-height: 1400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .post {
    background-color: #F0EFED;
    max-width: 975px;
  }

  .comments {
    background-color: #F0EFED;
    position: relative;
    top: -100px;
    left: 60%;
    width: 40%;
  }

  .comment-form {
    background-color: #F0EFED;
    position: relative;
    top: -50px;
    left: 60%;
    width: 40%;
  }
}
@media (min-width: 1024px) {
  .title-white {
    font-size: 166rem;
    top: 100px;
  }

  .title-yellow {
    font-size: 166rem;
    top: 250px;
  }

  main {
    max-height: 750px;
    margin-bottom: 100px;
  }

  .blog-main {
    margin-top: -200px;
  }

  .comments {
    left: 50%;
    width: 50%;
  }

  .comment-form {
    left: 50%;
    width: 50%;
  }
}
@media (min-width: 1280px) {
  main {
    max-height: 1000px;
    margin-bottom: 100px;
  }

  .header-box {
    max-height: initial;
    max-height: 500px;
    top: 100px;
  }

  .comments {
    left: 40%;
    width: 60%;
  }

  .comment-form {
    left: 40%;
    width: 60%;
  }

  .contact-h2 {
    top: 200px;
  }
}
@media (min-width: 1600px) {
  .home-image {
    width: 120%;
  }

  .blog-image {
    width: 120%;
  }

  .contact-image {
    width: 120%;
  }

  .blog-main {
    width: 70%;
    max-width: 1097px;
  }

  .comments {
    left: 40%;
    width: 60%;
  }

  .comment-form {
    left: 40%;
    width: 60%;
  }
}