@import './partials/setup';
@import './partials/variables';
@import './partials/base-style';
@import './partials/typography';
@import './partials/nav';
@import './partials/footer-banner';

body {
  background-color: $offwhite;
  color: $black;
}

button {
  background-color: $green;
  color: $offwhite;
  border: none;
}