@import './partials/setup';
@import './partials/variables';
@import './partials/base-style';
@import './partials/typography';
@import './partials/nav';
@import './partials/footer-banner';

body {
background-color: $offwhite;
color: $black;
overflow-x: hidden;
transition: all 0.75s ease-in-out;
}

.skip-link {
position: absolute;
left: -1000px;
top: 5px;
z-index: 999;
background: white;
color: black;
}

.skip-link:focus {
left: 0;
}

ul {
list-style: none;
}

//LEGEND
  //HOME PAGE STYLES
    //BLOG PAGE STYLES
      //CONTACT PAGE STYLES

  // HOME STYLES

.header-image {
  height: 525px;
  overflow: hidden;
}

.home-image {
  min-height: 525px;
}

.black-banner {
  padding: 10px 0 10px 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.title {
  display: flex;
  justify-content: center;
}

.title-white {
  font-size: 60rem;
  position: absolute;
  top: 260px;
  z-index: 2;
  transition: all 0.75s ease-in-out;
}

.title-yellow {
  font-size: 60rem;
  position: absolute;
  top: 320px;
  z-index: 2;
  color: $yellow;
  transition: all 0.75s ease-in-out;
}

.header-box {
  position: absolute;
  top: 260px;
  right: 0;
  max-height: 280px;
  transition: all 0.75s ease-in-out;
}

//HOME PAGE - ABOUT SECTION
.about {
  text-align: center;
  margin-top: 180px;
  margin-bottom: 180px;
}

//HOME PAGE - MAIN SECTION

main {
  background-color: white;
}

main img {
  width: 100%;
  margin: 20px 0;
}

.left-content-container h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 20rem;
}

.right-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-content-container {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: 0 auto;
}

.right-content-container h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 20rem;
}

.right-content-container button {
  margin-bottom: 30px;
}

.left-flowers {
  width: 80%;
  max-width: 826px;
  box-shadow: 15px 15px rgb(248, 231, 28);
  margin-top: -15px;
  transition: all 0.75s ease-in-out;
}

.right-flowers {
  width: 80%;
  max-width: 826px;
  box-shadow: -15px 15px rgb(248, 231, 28);
  margin-top: 15px;
  transition: all 0.75s ease-in-out;
}

.right-flowers-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

h6 {
  margin: 30px 0 30px 10px;
}

//HOME PAGE - OPTIONS SECTION
.options {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.options-text {
  display: flex;
  flex-direction: column;
  max-width: 475px;
  padding: 0 30px;
  margin-left: 45px;
}


.options-icon-green-houses {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -55px;
}

.options-icon-community {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -55px;
}

.options-icon-blog {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -55px;
}

.options-icon-get-in-touch {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -55px;
}

.icon-background {
  padding: 10px;
  width: 45px;
  display: flex;
  justify-content: center;
  background-color: $yellow;
  border-radius: 50%;
}

.window-image-container {
  width: 100%;
}

.window-image {
  width: 100%;
  margin: 30px 0 30px 0px;
}

//HOME PAGE - FOUNDER SECTION
.founder-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.founder-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px 0 50px;
}

.founder {
  width: 227px;
  box-shadow: 10px 10px rgb(248, 231, 28);
}

.founder-content  h5{
  margin: 30px 0 20px 0;
}

.founder-section button {
  margin-bottom: 50px;
}

//HOME PAGE - BOTTOM GALLERY SECTION
.bottom-gallery {
  display: flex;
  justify-content: center;
  background-color: white;
}

.bottom-gallery ul {
  padding-left: 0;
}

.bottom-gallery img {
  width: 290px;
}

    // BLOG STYLES

.blog-image {
    margin: -20px 0 0 -50px;
    object-fit: cover;
}

.blog-h2 {
    color: #F8E71C;
    display: inline-block;
}

main h6 {
    margin: 0;
}

.comments h6 {
    margin-left: 0;
}

.blog-aside-image-container {
  width: 100%;
  margin-left: -450px;
}

.blog-aside-image {
    position: relative;
    z-index: 1;
}

.blog-aside-content-container  {
    position: relative;
    max-width: 280px;
}

.blog-aside-content-container h6 {
    margin-left: 0;
}

.aside-blog-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-top: 20px;
    max-width: 300px;
}

.aside-white-box {
    position: absolute;
    top: 560px;
    width: 310px;
    height: 1055px;
    background-color: #fff;
}

aside p {
    margin: 0;
    line-height: 30px;
    font-size: 16rem;
}

aside a{
    text-decoration: none;
    color: $black;
}

.find-out-more-a {
    font-weight: 700;
    font-style: italic;
    color: $forestgreen;
}

.content-container h6 {
    font-size: 20rem;
    margin: 10px 0;
}


.blog-main {
    background-color: $offwhite;
    position: relative;
    z-index: 1;
}

.post-image-yellow-background {
    display: flex;
    justify-content: flex-end;
}

.post-image {
    max-width: 90%;
    box-shadow: -20px 20px $yellow;
}

.blog-main h3 {
    margin: 0;
}

main div h6 {
    font-weight: 400;
    font-style: italic;
    color: $forestgreen;
}

.post-date {
    color: $forestgreen;
    font-weight: 700;
}

.post {
    box-shadow: -10px 0px 0 10px $yellow;
    padding: 40px 0 20px 20px
}

.comment-form {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#name {
    background-color: $offwhite;
    width: 48%;
    padding: 10px;
    border: none;
    border-bottom: 2px $green solid;
}

#name::placeholder {
    color: black;
    opacity: 1;
    font-family: 'Josefin Sans', 'sans-serif';
    font-weight: 300;
}

#email {
    background-color: $offwhite;
    width: 48%;
    padding: 10px;
    border: none;
    border-bottom: 2px $green solid;
}

#email::placeholder {
    color: black;
    opacity: 1;
    font-family: 'Josefin Sans', 'sans-serif';
    font-weight: 300;
}

#comment {
    background-color: $offwhite;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 2px $green solid;
}

#comment::placeholder {
    color: black;
    opacity: 1;
    font-family: 'Josefin Sans', 'sans-serif';
    font-weight: 300;
}


.comment-form button {
    width: 100%;
    margin-bottom: 10px;
}

      // CONTACT PAGE

.contact-header {
      margin: 0;
}

.social-icons {
      display: flex;
      flex-direction: row;
      margin: 0 0 0 -10px;
}

.social-icons a {
      color: $green;
      margin: 20px 10px 0 10px;
}

.contact-form {
      background-color: #fff;
      padding: 20px 0;
      box-shadow: -10px 10px #F8E71C;
}

#contact-name {
      width: 48%;
      padding: 10px;
      border: none;
      border-bottom: 2px $green solid;
}

#contact-name::placeholder {
      color: black;
      opacity: 1;
      font-family: 'Josefin Sans', 'sans-serif';
      font-weight: 300;
}

#contact-email {
      width: 48%;
      padding: 10px;
      border: none;
      border-bottom: 2px $green solid;
}

#contact-email::placeholder {
      color: black;
      opacity: 1;
      font-family: 'Josefin Sans', 'sans-serif';
      font-weight: 300;
}

#contact-message {
      width: 100%;
      height: 100%;
      margin: 10px;
      padding: 10px;
      border: 2px $green solid;
}

#contact-message::placeholder {
      color: black;
      opacity: 1;
      font-family: 'Josefin Sans', 'sans-serif';
      font-weight: 300;
}

.contact-form button {
      width: 100%;
}

@import './partials/media-queries';
