//wrapper
.wrapper {
  max-width: 1260px;
  min-width: 280px;
  width: 80%;
  margin: 0 auto;
}

//containt container
.content-container {
  width: 90%;
  margin: 0 auto;
}

//buttons
button {
  font-family: $heading-font;
  background-color: $green;
  color: $offwhite;
  border: none;
  padding: 10px 20px;
}