@media (max-width: 390px) {
//BLOG
.post-image {
  box-shadow: none;
}
.post {
  box-shadow: none;
}
}

@media (min-width: 480px) {

// HOME PAGE
.header-box {
  max-height: initial;
  max-height: 360px;
  top: 200px;
}

//HOME PAGE - MAIN

main {
  max-height: 750px;
  margin-bottom: 100px;
  transition: all 0.75s ease-in-out;
}

.left-flowers {
  width: 45%;
}

.right-flowers {
  width: 45%;
  position: relative;
  top: 20px;
}

.right-main-container {
  flex-direction: column-reverse;
  position: relative;
  top: -380px;
  align-items: flex-end;
}

.right-main-container p {
  padding-right: 50px;
}

.left-main-container p {
  padding-left: 50px;
}

.left-content-container {
  max-width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  margin: initial;
}

.right-content-container {
  max-width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: initial;
}

//BLOG PAGE

.blog-aside-image-container {
  margin-left: -450px;
}

.aside-white-box {
  height: 950px;
}

.aside-blog-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 225px;
  margin-top: 20px;
  max-width: 300px;
}

.comments {
  position: relative;
  top: 500px;
}

.comment-form {
  position: relative;
  top: 500px;
} 

.blog-footer {
  position: relative;
  top: 500px;
}

//CONTACT FORM
.contact-form {
  margin-bottom: 20px;
}
}

@media (min-width: 768px) {

nav ul {
  flex-direction: row;
  position: absolute;
  top: -10px;
  left: 30%;
}

.black-banner {
  position: relative;
  top: -10px;
  padding: 10px 0 10px 0;
  background-color: rgba(0, 0, 0, 1);
}


//HOME PAGE

main {
  max-height: 650px;
  margin-bottom: 100px;
}

.upper-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lower-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.options-text {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.founder-section {
  flex-direction: row;
}

.founder-content {
  align-items: flex-start;
  max-width: 1000px;
}

.founder {
  margin-left: 100px;
}

.founder-content  h5{
  margin: 30px 0 20px 0;
}

.bottom-gallery ul {
  display: flex;
  flex-direction: row;
}

.bottom-gallery li {
  margin: 40px 15px 40px 15px;
}

.bottom-gallery img {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 290px;
}

//BLOG
.blog-h2 {
  position: relative;
  top: 150px;
  left: 100px;
}

.blog-footer {
  position: relative;
  top: 0px;
}


//CONTACT FORM
.contact-container {
  display: flex;
  justify-content: space-evenly;
}

.contact-form {
position: relative;
top: -100px;
width: 70%;
margin-bottom: 20px;
}

#contact-message {
  width: 100%;
  height: 43vh;
}

.contact-h2 {
  width: 300px;
  position: relative;
  top: 100px;
  left: 50px;
}

.contact-info-container {
  position: relative;
  top: 100px;
}

.contact-footer {
  position: relative;
  top: 75px;
}

}

@media (min-width: 936px) {
//BLOG PAGE

.blog-aside-image-container {
  margin-left: -475px;
}

.blog-aside-content-container {
  width: 270px;
  margin-left: 20px;
}

.blog-aside-content-container h6 {
  margin-left: 0;
}


.aside-white-box {
  top: 40px;
  width: 280px;
  margin-left: 20px;
}

.blog-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.blog-main {
  background-color: rgba(255, 255, 255, 0);
  margin-top: -100px;
  margin-left: 30px;
  max-height: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.post {
  background-color: $offwhite;
  max-width: 975px;
}

.comments {
  background-color: $offwhite;
  position: relative;
  top: -100px;
  left: 60%;
  width: 40%;
}

.comment-form {
  background-color: $offwhite;
  position: relative;
  top: -50px;
  left: 60%;
  width: 40%;
}
}

@media (min-width: 1024px) {

.title-white {
  font-size: 166rem;
  top: 100px;
}

.title-yellow {
  font-size: 166rem;
  top: 250px;
}

main {
  max-height: 750px;
  margin-bottom: 100px;
}

.blog-main {
margin-top: -200px;
}


.comments {
  left: 50%;
  width: 50%;
}

.comment-form {
  left: 50%;
  width: 50%;
}


}

@media (min-width: 1280px) {

main {
  max-height: 1000px;
  margin-bottom: 100px;
}

.header-box {
  max-height: initial;
  max-height: 500px;
  top: 100px;
}

.comments {
  left: 40%;
  width: 60%;
}

.comment-form {
  left: 40%;
  width: 60%;
}

.contact-h2 {
  top: 200px;
}

}

@media (min-width: 1600px) {

.home-image {
  width: 120%;
}

.blog-image {
  width: 120%;
}

.contact-image {
  width: 120%;
}

.blog-main {
  width: 70%;
  max-width: 1097px;
}

.comments {
  left: 40%;
  width: 60%;
}

.comment-form {
  left: 40%;
  width: 60%;
}
}


