//color palette
$offwhite: #F0EFED;
$yellow: #F8E71C;
$black: #2c2c2c;
$green: #0e902d;
$forestgreen: #074115;

//heading (Planted Invitations)
$heading-font: 'Josefin Sans', sans-serif;

//body
$body-font: 'Roboto', sans-serif;
