//color palette
$background: #F0EFED;
$accent: #F8E71C;
$black: #2c2c2c;
$button: #0e902d;
$border: #074115;

//heading (Planted Invitations)
$heading-font: 'Josefin Sans', sans-serif;

//body
$body-font: 'Roboto', sans-serif;
